.error-msg{
  color: red;
  padding-left: 15px;
}
.fixed-header{
  position: fixed;
  top: 0;
  width: 100%;
}
.fixed-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.am-card-header-content img{
  width: 33px;
  height: 33px;
}
.chat-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.chat-page .chat-me .am-list-extra{
  flex-basis: auto;
}
.chat-page .chat-me .am-list-content{
  text-align: right;
  padding-right: 15px;
}